.text-component-44 {
    color: #fff;
    font-size: 44px;
    margin-top: 111px;
    &.black {
        color: #000;
    }
}
.text-component-27 {
    color: #fff;
    font-size: 27px;
    &.black {
        color: #000;
    }
}
.text-component-14 {
    color: #000;
    font-size: 14px;
    &.black {
        color: #000;
    }
}
