.button {
    width: 120px;
    height: 30px;
    border: 2px solid white;
    color: white;
    background: transparent;
    font-size: 14px;
    font-family: "Merienda", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    &.black {
        color: black;
        border: 2px solid black;
    }
    &:hover {
        transform: scale(1.05);
    }
}
